<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h1 class="panel-title">Create Task</h1>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" action="/task" method="post" id="createtask">
					<div class="input-group" id="ig">
						<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
						<input type="text" name="name" value="" placeholder="Task-Name" class="form-control" id="ip">
					</div>

					<div class="input-group date" data-provide="datepicker" id="ig" data-date="12/03/2012">
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						<input type="text" class="form-control" name="date" readonly>
					</div>
					<div class="input-group" id="ig">
						<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						<input id="input-a" data-default="20:48" name="time" value="" placeholder="00:00" class="form-control">
					</div>
					<div class="input-group" id="ig">
						<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
						<input type="text" name="place" value="" placeholder="Location" class="form-control">
					</div>
					<div class="input-group" id="igt">
						<span class="input-group-addon"><i class="glyphicon glyphicon-align-justify"></i></span>
						<textarea name="text" class="form-control" rows="4" form="createtask" placeholder="Your Text"></textarea>
					</div>
					<div class="input-group pull-right">
						<a href="/content" class="btn btn-danger btn-md" id="cb">Cancel</a>
						<input type="submit" name="create" value="Create" class="btn btn-success btn-md" id="cb">
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
