<div id="header">
	<div id="topcontent">
		<a href="#" >
			<div id="logo">
				<!--<h1>
					Carl-Ender
				</h1>-->
				<img src="../img/logo_invert.png" alt="Carl-Ender">
			</div>
		</a>
		<div id="nav">
			<ul>
				<li>
					{{user}}
				</li>
				<a href="#">
					<li>
						<img src="../img/profile.png" alt="Profile" />
					</li>
				</a>
				<a href="#">
					<li>
						<img src="../img/notification.png" alt="Notifications" />
					</li>
				</a>
				<a href="/task">
					<li>
						<img src="../img/create.png" alt="Add new Event" />
					</li>
				</a>
				<a href="/logout">
					<li>
						<img src="../img/logout.png" alt="Logout">
					</li>
				</a>
			</ul>
		</div>
	</div>
</div>
