<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li>
				<a href="#" class="navbar-brand">The Carl-Ender</a>
			</li>
		</ul>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{#if user}}{{user}}{{else}}Profile{{/if}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Edit</a></li>
					<li><a href="#">Settings</a></li>
					<li class="divider"></li>
					<li><a href="#">Test</a></li>
				</ul>
			</li>
			<li>
				<a href="#">
					Notifications <span class="badge">2</span>
				</a>
			</li>
			<li>
				<a href="/task">
					Add Task
				</a>
			</li>
			<li>
				<a href="/logout">
					Logout
				</a>
			</li>
		</ul>
	</div>
</nav>
