<div id="container">
<div id="appt">
	<h1>{{local.name}}</h1>
	<h2>21.01.2016 - 17:00</h2>
	<h2>{{local.place}}</h2>
	<p>
		{{local.text}}
	</p>
</div>
	<div id="accdec">
		Zusagen: <br />
		10
	</div>
	<div id="accdec">
		Absagen: <br />
		3
	</div>
</div>
