<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link rel="icon" href="/ico/favicon-32x32.png" type="image/png" />
<title>TheCarlender - {{title}}</title>

<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/extend.css">
<!-- Datepicker -->
<link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.css" />
<link rel="stylesheet" href="/css/bootstrap-clockpicker.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

{{>nav}}

<div class="container">
  {{>info}}
  {{>error}}

  {{#if error}}
  {{else}}
    {{>addform}}
  {{/if}}

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-clockpicker.min.js"></script>


<script type="text/javascript">

            // When the document is ready
            $(document).ready(function () {

                $('.input-group.date').datepicker({
                  autoclose: true,
                  format: "mm/dd/yyyy",
                  todayBtn: true, //adds a TodayBtn
                  todayHighlight: true,
                });
                $('.input-group.date').datepicker("setDate",new Date()); //Set the default Date to today
                var input = $('#input-a');
                  input.clockpicker({
                    autoclose: true
                  });
                });
</script>


</script>
</body>
</html>
