<!DOCTYPE html>
<html>
	<head>
		<title>
			Carl-Ender
		</title>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="/css/reset.css" />
		<link type="text/css" rel="stylesheet"  href="/css/style.css">
		<link rel="apple-touch-icon" sizes="57x57" href="../img/ico/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="../img/ico/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../img/ico/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../img/ico/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../img/ico/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../img/ico/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../img/ico/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../img/ico/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../img/ico/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="../img/ico/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../img/ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="../img/ico/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../img/ico/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div id="header">
			<div id="topcontent">
				<a href="#" >
					<div id="logo">
						<!--<h1>
							Carl-Ender
						</h1>-->
						<img src="../img/logo_invert.png" alt="Carl-Ender">
					</div>
				</a>
				<div id="nav">
					<ul>
						<li>
							Timon
						</li>
						<a href="#">
							<li>
								<img src="../img/profile.png" alt="Profile" />
							</li>
						</a>
						<a href="#">
							<li>
								<img src="../img/notification.png" alt="Notifications" />
							</li>
						</a>
						<a href="#">
							<li>
								<img src="../img/create.png" alt="Add new Event" />
							</li>
						</a>
						<a href="/logout">
							<li>
								<img src="../img/logout.png" alt="Logout">
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			<div id="container">
			<div id="appt">
				<h1>Fußballtraining</h1>
				<h2>21.01.2016 - 17:00</h2>
				<h2>Sportplatz Graz</h2>
				<p>
					Ausdauertraining
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					10
				</div>
				<div id="accdec">
					Absagen: <br />
					3
				</div>
			</div>
			<div id="container">
			<div id="appt">
				<h1>Bandprobe</h1>
				<h2>22.02.2016 - 19:30</h2>
				<h2>Bar Rock</h2>
				<p>
					Probe mit neuer Setlist.
					Anschließendes gemütliches Beisammensein.
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					5
				</div>
				<div id="accdec">
					Absagen: <br />
					0
				</div>
			</div>
			<div id="container">
			<div id="appt">
				<h1>Bandprobe</h1>
				<h2>23.01.2016 - 19:30</h2>
				<h2>Bar Rock</h2>
				<p>
					Neue Setlist proben.<br />
					Freunde einladen: Erwünscht.
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					5
				</div>
				<div id="accdec">
					Absagen: <br />
					0
				</div>
			</div>
			<div id="container">
			<div id="appt">
				<h1>Fußballspiel</h1>
				<h2>24.01.2016 - 16:00</h2>
				<h2>Sportplatz Graz</h2>
				<p>
					Gegen FC Hintertupfing. <br />
					Do gwinn' ma Burschen!
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					63
				</div>
				<div id="accdec">
					Absagen: <br />
					15
				</div>
			</div>
			<div id="container">
			<div id="appt">
				<h1>Soundcheck</h1>
				<h2>25.01.2016 - 17:00</h2>
				<h2>PPC Graz</h2>
				<p>
					Bitte seit's pünktlich und vergessts nichts von der Ausrüstung!
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					5
				</div>
				<div id="accdec">
					Absagen: <br />
					0
				</div>
			</div>
			<div id="container">
			<div id="appt">
				<h1>Konzert TT+B</h1>
				<h2>25.01.2016 - 19:30</h2>
				<h2>PPC Graz</h2>
				<p>
					Timi Tendrix und Band live.
					Eintritt: 5€. Ein Freigetränk.
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					35
				</div>
				<div id="accdec">
					Absagen: <br />
					10
				</div>
			</div>
			<div id="container">
			<div id="appt">
				<h1>Aftershow Party</h1>
				<h2>25.01.2016 - 22:30</h2>
				<h2>PPC Graz</h2>
				<p>
					Für Bandmitglieder und deren Freunde.
					Freibier für alle.
				</p>
			</div>
				<div id="accdec">
					Zusagen: <br />
					11
				</div>
				<div id="accdec">
					Absagen: <br />
					0
				</div>
			</div>
		</div>
	</body>
</html>
